@import 'animations.css';

.dropdown-button:hover {
    cursor: pointer;
}

.dropdown-button {
    user-select: none;
}

.hover-glow {
    animation-name: glow-down;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    --starting-color: grey;
    --ending-color: white;
}

.hover-glow:hover {
    animation-name: glow-up;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    --starting-color: white;
    --ending-color: grey;
}

.menu-hidden {
    display: none;
}

.menu-item {
    list-style-type: none;
    text-align: left;
    margin: 0.25em 0;
    user-select: none;
    cursor: pointer;
    opacity: 0;
    animation-name: appear;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.menu {
    position: absolute;
    top: 100%;
    --top: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    /* -webkit-backdrop-filter: blur(20px); */
    padding: 1em 2em;
    animation-name: appear-down;
    animation-duration: 0.5s;
    z-index: -20;
    box-shadow: 0px 2px 5px -2px black;
    white-space: nowrap;
}

.menu-center {
    --x-offset: -25%;
    transform: translateX(-25%);
}

.menu-right {
    right: 0;
}

.menu-left {
    right: 100%;
    top: 0%;
    --top: 0% !important;
}

.menu-closed {
    position: absolute;
    top: 100%;
    --top: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(20px);
    padding: 1em 2em;
    animation-name: appear-down-back;
    animation-duration: 0.5s;
    z-index: -100;
    box-shadow: 0px 2px 5px -2px black;
    white-space: nowrap;
}

@media only screen and (max-width: 768px) {
    .dropdown-button {
        font-size: 5vw;
        margin: 0.25em;
    }

    .menu {
        max-width: 100ch;
        white-space: normal;
    }

    .menu-closed {
        white-space: normal;
    }

    .menu-item {
        font-size: 4vw;
        overflow-wrap: break-word;
    }
}


