@font-face {
  font-family: Quicksand-Regular;
  src: url("../assets/fonts/Quicksand/Quicksand-Regular.ttf");
}

@font-face {
  font-family: Quicksand-Bold;
  src: url("../assets/fonts/Quicksand/Quicksand-Bold.ttf");
}

@font-face {
  font-family: Quicksand-SemiBold;
  src: url("../assets/fonts/Quicksand/Quicksand-SemiBold.ttf");
}



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: hidden;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

html, body {height:100%;overflow:auto}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
