@keyframes appear-down-p {
    from {
        height: var(--closed-height, 2em);
        /* top: -100%; */
        /* transform: translate(var(--x-offset, 0%), -100%); */
        /* opacity: var(--starting-opacity, var(--opacity, 0.5)); */
        clip-path: inset(0 0 0 0);
        box-shadow: 0px 2px 5px -2px black;
        /* top: var(--top, auto); */
    }

    to {
        height: var(--height, 3em);
        /* top: 0%; */
        /* transform: translate(var(--x-offset, 0%), 0%); */
        /* opacity: var(--ending-opacity, var(--opacity, 1.0)); */
        clip-path: inset(0 0 0 0);
        box-shadow: 0px 2px 5px -2px black;
        /* top: var(--top, auto); */
    }
}

@keyframes appear-down-back-p {
    from {
        height: var(--height, 3em);
        /* transform: translate(var(--x-offset, 0%), 0%); */
        /* opacity: var(--starting-opacity, var(--opacity, 1.0)); */
        clip-path: inset(0 0 0 0);
        box-shadow: 0px 2px 5px -2px black;
        /* z-index: -1; */
        /* top: var(--top, auto); */
    }

    to {
        height: var(--closed-height, 2em);
        /* transform: translate(var(--x-offset, 0%), -100%); */
        /* opacity: var(--ending-opacity, var(--opacity, 0.5)); */
        clip-path: inset(0 0 0 0);
        box-shadow: 0px 2px 5px -2px black;
        /* z-index: -1 */
        /* top: var(--top, auto); */
    }
}

@keyframes blurry-background-p {
    from {
        backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(20px);
    }
}

@keyframes blurry-background-off-p {
    to {
        backdrop-filter: blur(0px);
    }

    from {
        backdrop-filter: blur(20px);
    }
}

@keyframes appear-p {
    from {
        opacity: 0;
        pointer-events: none;
    }

    to {
        opacity: 1;
        pointer-events: all;
    }
}

@keyframes disappear-p {
    from {
        opacity: 1;
        pointer-events: all;
    }

    to {
        opacity: 0;
        pointer-events: none;
    }
}

.project {
    position: relative;
    top: 0%;   
    align-items: start;
    --height: 10em;
    --closed-height: 2em;
    margin: 0.5em 0;
    overflow: hidden;
}

.blurry-background-p {
    animation-name: blurry-background-p;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.blurry-background-off-p {
    animation-name: blurry-background-off-p;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.image-background {
    position: absolute;
    background-image: linear-gradient(rgba(var(--r-d), var(--g-d), var(--b-d), 0.8), rgba(var(--r-l), var(--g-l), var(--b-l), 0.8)), var(--image);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.appear {
    animation-name: appear-p;
    animation-duration: var(--animation-duration-appear, 0.5s);
    animation-fill-mode: forwards;
}

.disappear {
    animation-name: disappear-p;
    animation-duration: var(--animation-duration-disappear, 0.5s);
    animation-fill-mode: forwards;
}


.project-description {
    position: relative;
    padding: 0.25em 0.25em;
    z-index: 2;
    width: 80%;
}

.project-description-text {
    /* margin-top: 2em; */
    opacity: 1;
}

.project-name {
    padding-left: 0.25em;
    font-size: 1.5vw;
    cursor: pointer;
}

.tags {
    position: absolute;
    z-index: 2;
    padding: 0.25em;
    top: 100%;
    transform: translateY(-100%);
    pointer-events: none;
    --animation-duration-appear: 2s;
    --animation-duration-disappear: 0.2s;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    /* height: 100%; */
}

.link {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 0%;
    width: 4em;
    height: 2em;
    background-image: url("https://1000logos.net/wp-content/uploads/2021/05/GitHub-logo.png");
    /* background-image: url("https://p7.hiclipart.com/preview/551/770/413/github-pages-logo-repository-fork-github-thumbnail.jpg"); */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    -webkit-filter: invert(100%);
    filter: invert(100%);
    cursor: pointer;
    /* background-color: white; */
}

.appear-down {
    animation-name: appear-down-p;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.appear-down-back {
    animation-name: appear-down-back-p;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

@media only screen and (max-width: 768px) {
    .project {
        --height: 26vw;
        --closed-height: 7vw;
    }

    .project-name {
        font-size: 4.5vw;
        text-align: center;
    }

    .project-description {
        font-size: 3.5vw;
        text-align: justify;
    }

    .tags {
        font-size: 3.4vw;
        text-align: left;
    }
}

@media only screen and (min-width: 769px) and (max-width: 1280px) {
    .project {
        --height: 15vw;
        --closed-height: 5vw;
    }

    .project-name {
        font-size: 3vw;
        text-align: center;
    }

    .project-description {
        font-size: 2vw;
        text-align: justify;
    }
}