.Navbar {
    background-color: rgb(71, 71, 71);
    text-align: left;
    position: fixed !important; /* Set the navbar to fixed position */
    top: 0px;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    width: 100%;
    z-index: 99 !important;
    vertical-align: baseline;
}

.NavbarTitle {
    background-color: rgb(71, 71, 71);
    padding-left: 5%;
    color: white !important;
    font-size: 0.8em !important;
    display: flex;
}

.NavbarElement {
    color: white !important;
    text-align: left;
    font-size: 1rem !important;
}

.NavbarElementAnimated {
    display: flex;
}
